/* --- Color Palette ---
  Orange 500 #FF9800, accent 
  Gray 50 (mixed)
*/


html {
  background-color: #212121;
}

body{
  color: white;
  width: 300px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Styling */
.headerDiv{
  display: grid;
  grid-template-columns: .15fr 1fr .15fr;
  grid-template-areas: "a b c";
  background: #fb8a00c7;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0 1.5rem;
}

.headText{
  grid-area: b;
}

.headVer{
  grid-area: c;
}

.headVPN{
  grid-area: a;
}

/* External Buttons */
.extButtons{
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-button {
  color: white;
  border: none;
  background-color: #424242;
  transition: 0.2s;
}

.link-button:hover{
  background-color: #FF9800;
  cursor: pointer;
}

/* Clipboard Classes */
.clipLegend{
  background-color: #424242;
  color: white;
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
}

.clipDiv{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;

  margin: 3px 0px 3px 0px;
}

.clipInput{
  border-radius: 5px;

  height: 25px;
  color: white;
  border: none;
  background-color: #757575;
  text-align: left;
}

.clipInput::placeholder{
  color: #424242;
}

/* Collapse Section Dividers */
hr.solid {
  border-top: 1px solid #FF98007a;
  border-bottom: 1px solid #FF98007a;

  border-right-width: 0px;
  border-left-width: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Collapsibles */

.collapsible {
  color: white;
  background-color: #424242;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.active, .collapsible:hover {
  background-color: #FF9800;
}

.collapsible:after {
  color: transparent;
  text-shadow: 0 0 0 white;
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapse-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* -- Append Helper -- */

/*Generate Button Properties*/
.append-button {
  color:white;
  background-color:#424242;
  border: 1.9px solid #424242;
  border-radius: 25px;
  margin: 5px;
  transition: 0.2s;
}

.append-button:hover{
  background-color: #FF9800;
}

.append-button:active{
  color:black;
  background-color:#FF9800;
}

.append-button:hover {
  cursor:pointer;
}

/*Checkbox Grid Classes*/
.optionContainer {
	background-color: #424242;
	display: grid;
	grid-template-columns: 1fr .35fr;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
  padding-left: 35px;
  text-align: left;
}

.opttext {
  border-left: 2px solid #FF9800;
  padding-left: 15px;
}

input[type="checkbox"] {
	accent-color:#FF9800;
	width: 1.3em;
  cursor: pointer;
}

/* Output box related classes */
.opDiv{
  display: grid;
  grid-template-columns: 40px 160px 50px;
  grid-template-rows: 33px;
  gap: 5px;
  grid-template-areas: "a b c";
  align-items: center;
  justify-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.opBox{
  grid-area: a;
  margin-top: 20px;
}

input[type="text"]#opBox {
  grid-area: b;

  border-radius: 5px;
  width: 150px;
  height: 25px;
  color: white;
  border: none;
  background-color: #757575;
  text-align: left;
}

.reset-icon{
  grid-area: c;
  fill: white;
}