html {
  background-color: white;
}

body{
  color: white;
  width: 300px;
  text-align: center;
  font-family: "Whitney SSm A","Whitney SSm B",Tahoma,sans-serif;

  -webkit-font-smoothing: antialiased;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7920;;
}

/* Legends */
.legendText{
  background-color: #5e5e5e;
  color: white;
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;

}

/* Fieldset */
.field_set{
  border-color: #5e5e5e;
  margin-top: 5px;
  border-radius: 3px;
}

/* Header Styling */
.headerDiv{
  display: grid;
  grid-template-columns: .15fr 1fr .15fr;
  grid-template-areas: "a b c";
  background: #ff7920;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0 1.5rem;
  margin-bottom: 5px;

  border-radius: 5px;
}

.headText{
  grid-area: b;
}

.headVer{
  grid-area: c;
}

.headAttrib{
  grid-area: a;
  text-decoration: underline;
  cursor: pointer;
}

/* External Buttons */
.extButtons{
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-button {
  color: white;
  border: none;
  background-color: #5e5e5e;
  transition: 0.2s;
}

.link-button:hover{
  color: #5e5e5e;
  background-color: #ff7920;
  cursor: pointer;
}

/* Wiki Classes */
.wikiDiv{
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  gap: 3px;

  margin: 3px 0px 0px 0px;
}

/* Clipboard Classes */
.clipDiv{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr .5fr;
  gap: 4px;

  margin: 3px 0px 3px 0px;
}

.clipInput{
  border-radius: 5px;

  height: 25px;
  color: white;
  border: none;
  background-color: #777;
  text-align: left;
}

.clipInput::placeholder{
  color: #c7c7c7;
}

/* Mastertag Classes */
.mtDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b";
  place-items: center;

  border-radius: 5px;
  height: 40px;
  color: white;
  border: none;
  background-color: #5e5e5e;
  margin-top: 3px;
}

.mtPresent{
  grid-area: a;
  text-align: right;
}

.mtMark{
  grid-area: b;
  text-align: center;
}

/* Technologies / MT Classes */
.techDiv{
  color: #242424;
  vertical-align: middle;
  text-align: center;

  font-size: 16px;
}

/* Collapse Section Dividers */
hr.solid {
  border-top: 1px solid #ff79207a;
  border-bottom: 1px solid #ff79207a;
  border-right-width: 0px;
  border-left-width: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Collapsibles */
.collapsible {
  color: white;
  background-color: #5e5e5e;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  vertical-align: middle;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
  margin-bottom: 3px;
  border-radius: 5px;
}

.active, .collapsible:hover {
  color: #242424;
  background-color: #ff7920;

}

.collapsible:after {
  color: transparent;
  text-shadow: 0 0 0 white;
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapse-content {
  color: #242424;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s ease-out;
}

/* -- New Impl -- */
.newImplDiv {
  margin-bottom: 2px;
}

/* -- Test URL -- */
.testURLDiv{
  display: grid;
  grid-template-rows: 2;
  gap: 4px;
  place-items: center;
  margin-bottom: 2px;
}

/*Generate Button Properties*/
.append-button {
  color: #424242;
  background-color:white;
  border: 1.9px solid #424242;
  border-radius: 25px;
  margin: 5px;
  transition: 0.2s;
}

.append-button:hover{
  color: #424242;
  background-color: #ff7920;
  cursor:pointer;
}

.append-button:active{
  color:black;
  background-color:#ffad77;
}

/*Checkbox Grid Classes*/
.optionContainer {
	background-color: #5e5e5e;
	display: grid;
	grid-template-columns: 1fr .35fr;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
  padding-left: 35px;
  text-align: left;
}

.opttext {
  color: white;
  border-left: 2px solid #ff7920;
  padding-left: 15px;
}

input[type="checkbox"] {
	accent-color:#ff7920;
	width: 1.3em;
  cursor: pointer;
}

/* Output box related classes */
.opDiv{
  display: grid;
  grid-template-columns: 40px 160px 50px;
  grid-template-rows: 33px;
  gap: 5px;
  grid-template-areas: "a b c";
  align-items: center;
  justify-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.opBox{
  grid-area: a;
  margin-top: 20px;
}

input[type="text"]#opBox {
  grid-area: b;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  color: white;
  border: none;
  background-color: #757575;
  text-align: left;
}

.reset-icon{
  grid-area: c;
  fill: #242424;
}

/* Added by Drew */

 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 